.cotizaciones_container {
  width: 100%;
  height: 8rem;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.title {
  color: rgb(6, 6, 177);
  margin-left: 20px;
  font-weight: bold;
}

.coin {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  margin-left: 25px;
  margin-top: 15px;
}
.coin > h3 {
  margin-top: 25px;
  margin-left: 15px;
}

.price_money_div {
  display: flex;
  gap: 25px;
}
.price_money {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  gap: 10px;
}
