.transacciones_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list_transacciones {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.colums_transacciones {
  width: 100%;
}

.title_transacciones_div {
  width: 100%;
  background: white;
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 50px;
  color: #004aad;
  box-sizing: border-box;
}

thead {
  background-color: #0d5ea1;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
  text-align: center;
}

@media (max-width: 768px) {
  .transacciones_container {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .title_transacciones_div > h2 {
    font-size: 20px;
  }
  .list_transacciones {
    gap: 0.5rem;
  }
  table {
    overflow-x: auto;
    display: block;
  }
}
