.Sub_Menu_Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  height: 200px;
  justify-content: center;
  margin-top: 60px;
  position: fixed;
}

.List_options {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.Options_Sub_menu {
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
}

.Options_Sub_menu > div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
  font-weight: bold;
}

.Icon_Sub_menu {
  height: 30px;
  width: 30px;
}

.arrow_subMenu {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
