.home_div {
  padding-top: 9rem;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .home_div {
    flex-direction: column;
    padding-top: 70px;
  }
}

.home_container {
  background: whitesmoke;
}
