.tranfer_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.form_div {
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
}

.form_div > h2 {
  font-size: 4rem;
  margin-left: 60px;
  margin-bottom: 10rem;
}

.form_transferir {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: auto;
  font-size: 1.8rem;
}

.import_transfer {
  width: 100%;
  display: flex;
  gap: 5px;
}

.import_transfer > input {
  width: 100%;
}
.buttons_form {
  width: 100%;
  display: flex;
  gap: 15px;
}

.ticket {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media (max-width: 550px) {
  .form_div {
    align-items: center;
    justify-content: center;
  }
  .form_div > h2 {
    margin-left: 0;
    font-size: 40px;
    margin-bottom: 5rem;
  }
  .form_transferir {
    font-size: 1.5rem;
  }
}

.inputTransfer {
  border-radius: 3px;
  border: 1px solid #4c93c9;
  background: #fff;
  font-size: 1.3rem;
  line-height: 1.4px;
  padding: 0.5rem;
  color: black;
}
