.transfer-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.transfer-form-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
}

.transfer-form-wrapper > h2 {
  font-size: 4rem;
  margin-left: 60px;
  margin-bottom: 10rem;
}

.transfer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: auto;
  font-size: 1.8rem;
}

.transfer-input-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.transfer-input-group > input {
  width: 100%;
}

.transfer-buttons {
  width: 100%;
  display: flex;
  gap: 15px;
}

.transfer-ticket-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.transfer-input {
  padding: 11px 10px;
  font-size: 0.85rem;
  border: 2px #818cf8 solid;
  border-radius: 5px;
}

.transfer-form > label {
  font-size: 1.4rem;
  color: #818cf8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  width: fit-content;
}

.transfer-loader {
  width: 28px;
  height: 28px;
  border: 5px solid #818cf8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transfer-check {
  color: green;
  font-size: 1.5rem;
}

.error-message {
  color: red;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 15px;
}

@media (max-width: 550px) {
  .transfer-form-wrapper {
    align-items: center;
    justify-content: center;
  }
  .transfer-form-wrapper > h2 {
    margin-left: 0;
    font-size: 40px;
    margin-bottom: 5rem;
  }
  .transfer-form {
    font-size: 1.2rem;
  }

  .transfer-input-group {
    gap: 1px;
  }

  .transfer-loader {
    width: 17px;
    height: 15px;
    border: 4px solid #818cf8;
    border-bottom-color: transparent;
    border-radius: 100%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}
