.Sub_Menu_Container {
  display: flex;
  width: 100%;
  margin-top: 0;
  height: 100px;
  justify-content: center;
  z-index: 999;
}

.home_submenu {
  margin-right: 10px;
}

.List_options {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 30px;
}

.Options_Sub_menu {
  display: flex;
  align-items: center;
}

.Options_Sub_menu > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  font-weight: bold;
}

.Options_Sub_menu > div:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .Sub_Menu_Container {
    flex-direction: column;
    background: #004aad;
    height: 300px;
    margin-top: 60px;
    position: fixed;
    color: white;
  }

  .List_options {
    flex-direction: column;
    gap: 25px;
  }

  .home_submenu {
    margin-right: 0;
  }

  .Options_Sub_menu {
    margin-left: 20px;
    justify-content: space-between;
  }

  .closeSession {
    justify-content: center;
    align-items: center;
  }
}
